<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="form_block">
  <mat-form-field appearance="fill">
    <mat-label>user name</mat-label>
    <input matInput type="text" ngModel name="username" required />
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>user password</mat-label>
    <input matInput type="password" ngModel name="password" required />
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" ngModel name="email" required />
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input
      matInput
      type="tel"
      ngModel
      name="phone"
      required
      pattern="^[0-9]*$"
    />
  </mat-form-field>

  <br />

  <button mat-flat-button type="submit">Подтвердить</button>
</form>

<div *ngIf="userData && userData.length > 0">
  <h3>Все пользователи</h3>
  <ul>
    <li *ngFor="let item of userData">
      <strong>Ключ:</strong> {{ item.key }}<br />
      <strong>Username:</strong> {{ item.username }}<br />
      <strong>Password:</strong> {{ item.password }}<br />
      <strong>Email:</strong> {{ item.email }}<br />
      <strong>Phone number:</strong> {{ item.phone }}
    </li>
  </ul>
</div>
